![rainbow](https://github.com/ancilcleetus/My-Learning-Journey/assets/25684256/839c3524-2a1d-4779-85a0-83c562e1e5e5)

# 1. Python Fundamentals - Coding Challenges

## Q1. Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

In [ ]:
# Write your code here
print("Data", "Science", "Mentorship", "Program", "started", "By", "CampusX", sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

## Q2. Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here
temp_celsius = float(input('Enter temperature in Celsius: '))
temp_fahrenheit = (1.8 * temp_celsius) + 32
print(f"Temperature in Fahrenheit: {temp_fahrenheit}")

Enter temperature in Celsius: 40
Temperature in Fahrenheit: 104.0

## Q3. Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))

print(num1, num2)

num1 = num1 + num2
num2 = num1 - num2
num1 = num1 - num2

print(num1, num2)

Enter first number: 5
Enter second number: 10
5 10
10 5

## Q4. Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here
x1 = float(input('Enter x1 of first co-ordinate: '))
y1 = float(input('Enter y1 of first co-ordinate: '))
x2 = float(input('Enter x2 of second co-ordinate: '))
y2 = float(input('Enter y2 of second co-ordinate: '))

euclidean_distance = ((x2 - x1)**2 + (y2 - y1)**2) ** 0.5
print(f'Euclidean distance: {euclidean_distance}')

Enter x1 of first co-ordinate: 5.3
Enter y1 of first co-ordinate: 5
Enter x2 of second co-ordinate: 4
Enter y2 of second co-ordinate: 2.7
Euclidean distance: 2.641968962724581

## Q5. Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here
principal = float(input('Enter principal: '))
interest_rate = float(input('Enter rate of interest in %: '))
period_in_years = float(input('Enter time period in years: '))

simple_interest = principal * interest_rate * period_in_years / 100
print(f"Simple interest: {simple_interest}")

Enter principal: 15000
Enter rate of interest in %: 4
Enter time period in years: 3
Simple interest: 1800.0

## Q6. Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here

## Q7. Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here

## Q8. Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# Write your code here

## Q9. Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here

## Q10. Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here

![rainbow](https://github.com/ancilcleetus/My-Learning-Journey/assets/25684256/839c3524-2a1d-4779-85a0-83c562e1e5e5)